body {
    /*width: 100%;
    height: 100%;*/
    background-color: #9afbfb;
}

.instruction-header {
    font-style: italic;
}

.flex-container {
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: row;
}

.event-title {
    padding: 10px;
}

.drop-down {
    padding: 10px;
}

.create-button {
    padding: 10px;
}

.grid-view {
   vertical-align: top; 
   left: auto; 
   height: 500px; 
   overflow: auto; 
   width: auto;
}

.logo {
    text-align: center;
}


